<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- here it will get the value from the js code and printed as html code -->
    <h1>Hello <%=name%></h1>
    <h4>The number : </h4>
    <p><%=number%></p>
</body>
</html>